{% extends "layout.twig" %}
{% block content %}

<div class="bk-default">

<main id="cd-main-content">
	<section id="cd-intro">
		<header class="cd-header">
			<div id="cd-social">
				{{widget('socialicons', 'thisunqiuewidgetname', {'googleplus': 'https://plus.google.com/101946323226233111530', 'linkedin':'http://www.linkedin.com/company/basekit', 'facebook': 'https://www.facebook.com/TeamBaseKit', 'twitter': 'https://twitter.com/basekit', 'youtube': 'https://www.youtube.com/user/TeamBaseKit', 'rss': 'http://blogdiseno.basekit.es/feed/'})|raw}}
			</div>
			<div id="cd-company-name">
				{{widget('companyname', 'header-companyname', {"business": "Explore"})|raw}}
			</div>
			<a class="cd-menu-trigger" href="#main-nav"><span></span>
			</a>
		</header>
		<div class="cd-blurred-bg"></div>
	</section> <!-- cd-intro -->
</main><!-- end cd-main-content -->

<div class="cd-shadow-layer"></div>

<nav id="main-nav">
	{{widget('extendednavigation', 'header-navigation', {"align":"center"})|raw}}
	<a href="#0" class="cd-close-menu"><span></span></a>
</nav>

<div class="wrapper">
	<div class="main">
		{{zone('main')|raw}}
	</div>
</div><!--end main-->

</div><!-- end bk-default-page -->

{% include 'includes/footer.twig' %}

{% endblock %}