{% extends "layout.twig" %}
{% block content %}

<div class="bk-default">

<main id="cd-main-content">
	<section id="cd-intro">
		<header class="cd-header">
			<div id="cd-social">
				{{widget('socialicons', 'header-socialicons', {
					'googleplus': 'profile',
					'linkedin':'profile',
					'facebook': 'profile',
					'twitter': 'profile',
					'youtube':'profile',
					'rss': 'profile',
					'instagram': 'profile',
					'pinterest': 'profile'
				})|raw}}
			</div>
			<div id="cd-company-name">
				{{widget('companyname', 'header-companyname', {"business": "profile"})|raw}}
			</div>
			<a class="cd-menu-trigger" href="#main-nav"><span></span>
			</a>
		</header>
		<div class="cd-blurred-bg"></div>
	</section> <!-- cd-intro -->
</main><!-- end cd-main-content -->

<div class="cd-shadow-layer"></div>

<nav id="main-nav">
	{{widget('extendednavigation', 'header-navigation', {"align":"center"})|raw}}
	<a href="#0" class="cd-close-menu"><span></span></a>
</nav>
<div class="canvas">
	<div class="wrapper">
		<div class="main">
			{{zone('main')|raw}}
		</div><!--end main-->
	</div><!--end wrapper-->
</div><!--end canvas-->

{% include 'includes/footer.twig' %}

</div><!-- end bk-default-page -->

{% endblock %}